*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-image: url("jarvis-4k.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 1.5rem;
    background-color: #189AB4;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
}

.title .navyBlue{
    background-color: #05445E;
}


.para{
    background-color: #189AB4;
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #D4F1F4;
}